
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

a{
  color: inherit;
  text-decoration: none;

}
body{
  background-color: #f4f4f9;
}
nav{
  background: linear-gradient(to right, #3b82f6, #6366f1);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);

 

.navbar-container{
   display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
}
.logo a{
color: #fff;
font-size: 20px;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 500;
}

.nav-links{
  display: flex;
  gap: 20px;

}
.nav-links a{
  color: #fff;
  transition: 0.5s;
}

.nav-links a:hover{
  font-weight: 400;
  text-decoration: underline;
}
.nav-links button{
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
}
.nav-links button:hover{
  font-weight: 400;
  text-decoration: underline;
}

.form-container{
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.form-card{
  background-color: white;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0,0,0.1);
  width: 100%;
  max-width: 400px;
}
.form-title{
  font-size: 1.6rem;
  font-weight: 600;
  color: #1f2937;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.error{
  color: #dc2626;
  text-align: center;
  margin-bottom: 1rem;

}
.form-group{
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
.form-group a{
  color: #3b82f6;
}
.form-group a:hover{
  text-decoration: underline;
}
.form-input{
  width: 100%;
  padding: 0.75rem;
  border:  1px solid #d1d5db;
  font-size: 1rem;
  border-radius: 4px;
}
.form-input:focus{
  outline: none;
  border-color:  #3b82f6;
  box-shadow: 0,0,0,2px rgba(59, 130, 246, 0.2);

}
.form-button{
  background-color: #3b82f6;
  width: 100%;
  padding: 0.75rem;
  color: white;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
  border: none;
}
.form-button :hover{
  background-color: #2563eb;
  border: #1f2937;

}